
.navbar {
  
   color: #fff;
  padding: 20px;

  position: sticky;  
   top: 0px; 
   z-index:500; 
  

 
}

.nav-list {
 list-style-type: none;
  padding: 0;
  display: flex;
  margin-top:30px;
  position: fixed;
  margin-left:700px;
}

.nav-item {
  margin-left: 20px;

}


